{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">Edit profile</h1>
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form action="{{ url_for('auth.edit_profile') }}" method="post" role="form" class="row">
            {{ form.hidden_tag() }}
            <div class="form-group required text-center">
                <label>Username</label>
                {{ form.username(class="form-control", placeholder='Enter username') }}
                {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group required text-center mt-3">
                <label>Email</label>
                {{ form.email(class="form-control", placeholder='Enter Email') }}
                {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <br class="mt-3">
            {{ form.submit(class="btn btn-success btn-block") }}
            <a href="{{ url_for('auth.register') }}" class="btn btn-danger btn-block mt-3 mb-5" role="button">Register</a>
        </form>
    </div>
{% endblock %}
