{% extends 'base.html' %}

{% block content %}
    <div class="col-md-12">
        <h1 class="text-center">Product - {{ product.title }}</h1>
        <div class="row mb-5 mt-5">
            <div class="col-md-6">
                {% if product.image_path %}
                    <img src="{{ url_for('main.uploaded_image', slug=product.slug) }}" class="img-fluid" alt="..."/>
                {% else %}
                    <img class="img-fluid mb-5" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
                    {% include 'upload_image.html' %}
                {% endif %}
            </div>
            <div class="col-md-6">
                <p>{{ product.description }}</p>
                <p>{{ product.price }} $</p>
                <p class="text-center"><a href="{{ url_for('main.add_to_cart', slug=product.slug) }}"><button class="btn btn-primary">Add to cart</button></a></p>
            </div>
        </div>
    </div>
{% endblock %}
