{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <h1 class="text-center">Product - {{ product.title }}</h1>
        <div class="row mb-5 mt-5">
            <div class="col-md-6">
                {% if product.image_path %}
                    <img src="{{ url_for('main.uploaded_image', slug=product.slug) }}" class="img-fluid" alt="..."/>
                {% else %}
                    <img class="img-fluid mb-5" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
                    {% include 'upload_image.html' %}
                {% endif %}
            </div>
            <div class="col-md-6">
                <p>Description:</p>
                <p>{{ product.description }}</p>
                <p>Price: <strong>{{ product.price }}</strong> $</p>
                <p class="text-center"><a href="{{ url_for('main.add_to_cart', slug=product.slug) }}"><button class="btn btn-primary">Add to cart</button></a></p>
            </div>
        </div>
    </div>
    <div class="container text-center mb-5">
        {% if product.feature_id.count() %}
            <p class="h4">Features:</p>
            {% for feature in product.feature_id.all() %}
                <div class="row">
                    <div class="col border border-dark">
                        {{ feature.feature.feature_name }}
                    </div>
                    <div class="col border border-dark">
                        {{ feature.value }} {{ feature.feature.unit }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
